<% provide :page_title, "#{@user.name}'s Profile".html_safe %>

<div class="user-profile">
  <div class="name"><%= @user.name %></div>
  <div class="gravatar"><%= image_tag @user.gravatar(50) %></div>
  <div class="email"><%= @user.email %></div>
  <div class="joined"><%= since(@user.created_at) %></div>

  <%= link_to 'Edit', edit_user_path(@user), class: "control" %>
  <%= link_to 'Delete', @user, method: :delete, class: "control",
      confirm: "Are you sure you want to delete your account?" %>
</div>