<% provide :page_title, "WELCOME" %>

<div id="welcome">
  <h1>WELCOME</h1>
  <h1><%= site_name %></h1>
  <p>Come on in and grab a seat</p>

  <% if signed_in? %>
    <%= link_to "Find a Restaurant", restaurants_path, class: "btn" %>
  <% else %>

    <%= link_to "Show me Restaurants first", restaurants_path, class: "btn" %>
    <p>or</p>
    <%= link_to "Sign In", :signin, class: "btn" %>
    <%= link_to "Sign Up", :member_signup, class: "btn" %>

  <% end %>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 8840d220873a7fcb07234f4dc4876479b344e628
