<%= form_for [@location.restaurant, @location, @reservation], html: { class: "form-container"} do |f| %>

  <%= render 'alerts/error_message', object: @reservation %>

  <div class="form-field">
    <%= f.label :time, class: "form-label", for: "time"  %>
    <div class="form-controls">
<<<<<<< HEAD
      <%= f.time_field :time, minute_step: 60, ampm: true %>
=======
      <%= f.time_field :time %>
>>>>>>> aed1110234d6923e2d765eb45518f03dc7b5cc31
    </div>
  </div>

  <div class="form-field">
    <%= f.label :number_of_people, class: "form-label", for: "number_of_people"  %>
    <div class="form-controls">
      <%= f.number_field :number_of_people, id: "number_of_people", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-controls">
      <%= f.submit yield(:page_title), class: "submit-button" %>
    </div>
  </div>

<% end %>

<%= @reservation.within_open_hours? %><br>
