<div class="reservation">
  <div class="restaurant-name"><%= reservation.restaurant.name %></div>
  <div class="restaurant-address"><%= reservation.location.address %></div>
  <div class="reservation-details">
    <small>For</small> <%= pluralize(reservation.number_of_people, 'person') %>
    <small>at</small> <%= reservation.reserved_time %>
    <small>on</small><%= reservation.reserved_date %>
  </div>
  <div class="controls">
    <%= link_to 'Modify', edit_reservation_path(reservation, location_id: reservation.location_id), class: "control" %>
    <%= link_to 'Cancel', reservation, method: :delete, class: "control",
        confirm: "You are about to cancel this reservation! You sure?" %>
  </div>
</div>