
<%= form_for @restaurant, html: { class: "form-container" } do |f| %>
  <legend><%= yield(:page_title) %></legend>

  <%= render 'alerts/error_message', object: @restaurant %>

  <div class="form-field">
    <%= f.label :name, for: "name", class: "form-label" %>
    <div class="form-controls">
      <%= f.text_field :name, id: "name", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :description, for: "description", class: "form-label" %>
    <div class="form-controls">
      <%= f.text_area :description, id: "description", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :cuisine, for: "description", class: "form-label" %>
    <div class="form-controls">
      <%= f.text_field :cuisine, id: "description", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-controls">
      <%= f.submit yield(:page_title), class: "form-btn" %>
      <%= link_to 'Back', restaurants_path, class: "form-btn" %>
    </div>
  </div>

<% end %>

<div class="locations">
  <legend><%= @restaurant.name %>'s Locations</legend>
  <% @restaurant.locations.each do |location| %>
    <%= render location %>
  <% end %>
</div>