<%= form_for @restaurant, html: { class: "form-container" } do |f| %>


  <%= @restaurant.errors.inspect if @restaurant.errors.any? %>
  <div class="form-field">
    <%= f.label :name, for: "name", class: "form-label" %>
    <div class="form-controls">
      <%= f.text_field :name, id: "name", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :description, for: "description", class: "form-label" %>
    <div class="form-controls">
      <%= f.text_area :description, id: "description", class: "form-input" %>
    </div>
  </div>

  <%= f.fields_for :locations do |l| %>

    <div class="form-field">
      <%= l.label :address, for: "address", class: "form-label" %>
      <div class="form-controls">
        <%= l.text_field :address, id: "address", class: "form-input" %>
      </div>
    </div>

    <div class="form-field">
      <%= l.label :number_of_seats, for: "number_of_seats", class: "form-label" %>
      <div class="form-controls">
        <%= l.number_field :number_of_seats, id: "number_of_seats", class: "form-input" %>
      </div>
    </div>

    <div class="form-field">
      <%= l.label :open_at, for: "open_at", class: "form-label" %>
      <div class="form-controls">
        <%= l.time_field :open_at, id: "open_at", class: "form-input" %>
      </div>
    </div>

    <div class="form-field">
      <%= l.label :close_at, for: "close_at", class: "form-label" %>
      <div class="form-controls">
        <%= l.time_field :close_at, id: "close_at", class: "form-input" %>
      </div>
    </div>

  <% end %>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-controls">
      <%= f.submit yield(:page_title), class: "submit-button" %>
    </div>
  </div>



<% end %>