<div class="location">
  <div class="address">
    <p><%= location.address %></p>
  </div>
  <div class="location-hour">
    <p><%= location.open_hours %></p>
  </div>

  <div class="location-controls">
  <% if signed_in? %>
    <%= link_to 'Make an reservation', new_location_reservation_path(location.id), class: "btn" %>
  <% else %>
    <p>Please <%= link_to 'Sign In', :member_signin %> to make an reservation</p>
  <% end %>

  <p><%= link_to 'Delete this location', location_path, confirm: "Are you sure you want to remove this location", method: :delete %></p>

  </div>
</div>