<div class="location">
  <div class="google-map">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{location.latitude}%2C#{location.longitude}" %>
  </div>
  <div class="address">
    <p><%= location.address %></p>
  </div>
  <div class="location-hour">
    <p><%= location.open_hours %></p>
  </div>

  <div class="location-controls">
  <% if signed_in?  &&  current_user.type == "Member" %>
    <%= link_to 'Make a reservation', new_location_reservation_path(location.id), class: "btn" %>
    <%= link_to 'Delete this location', location, confirm: "Are you sure you want to remove this location", method: :delete, class: 'btn' %>
  <% elsif !signed_in?  &&  current_user.type == "Member"%>
    <p>Please <%= link_to 'Sign In', :member_signin, class: "btn" %> to make an reservation</p>
  <% end %>

  <% if signed_in?  &&  current_user.type == "RestaurantOwner" %>
    <%= link_to 'Delete this location', location, confirm: "Are you sure you want to remove this location", method: :delete, class: 'btn' %>
    <% end %>
  </div>
</div>