<!DOCTYPE html>
<html>
<head>
  <title><%= titler(yield(:page_title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <%= render 'alerts/flash_message' if flash.any? %>

  <%= yield %>

  <footer style="margin: 60px; text-align: center;">
    <%= params %>
  </footer>

</body>
</html>
