<%= form_for @user, html: { class: "form-container" } do |f| %>

  <legend><%= yield(:page_title) %></legend>

  <%= render 'alerts/error_message', object: @user %>

  <div class="form-field">
    <%= f.label :name, for: "name", class: "form-label" %>
    <div class="form-controls">
      <%= f.text_field :name, id: "name", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :email, for: "email", class: "form-label" %>
    <div class="form-controls">
      <%= f.email_field :email, id: "email", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :password, for: "password", class: "form-label" %>
    <div class="form-controls">
      <%= f.password_field :password, id: "password", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label "Confirmation", for: "confirmation", class: "form-label" %>
    <div class="form-controls">
      <%= f.password_field :password_confirmation, id: "confirmation", class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-controls">
      <%= f.submit yield(:submit_button), class: "form-btn" %>
      <%= link_to "Back", :back, class: "form-btn" %>
    </div>
  </div>

<% end %>